# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Logs
*.log

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
